<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <script src='../scripts/fadeIn.js'></script>
    <meta name='generator' content={Astro.generator} />
    <title>Ugur Armagan - Front-end Developer</title>
  </head>

  <body class='bg-gray-100'>
    <div
      class='grid place-items-start h-screen content-center mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 space-y-10'
    >
      <h1
        id='title'
        class='text-6xl font-bold text-gray-900 font-sans opacity-0 transition-opacity duration-500 ease-in-out'
      >
        Hi, I'm Ugur!
      </h1>
      <p
        id='body'
        class='text-xl leading-8 text-gray-700 transition-opacity duration-500 ease-in-out opacity-0 delay-200'
      >
        A Front-end Developer with a focus on delivering great user experiences.
        I love solving problems and building products that make a positive
        impact on people's lives. With over 5 years of experience in the
        industry, I have a strong foundation in Typescript, Javascript, and
        React, and a track record of delivering high-quality, user-friendly
        software. In my free time, I enjoy playing basketball and running. I'm
        always excited to learn and connect with others, so feel free to reach
        out!
      </p>
      <a
        id='resume'
        href='Ugur-Armagan-2023.pdf'
        class='bg-transparent hover:bg-gray-200 text-gray-700 border-2 border-black font-bold py-2 px-6 rounded-full transition-opacity duration-500 ease-in-out opacity-0 delay-500'
      >
        View My Resume
      </a>
      <div
        id='links'
        class='flex space-x-12 transition-opacity duration-500 ease-in-out opacity-0 delay-700 items-center'
      >
        <a href='https://github.com/Uarmagan/'>
          <img src='github.png' alt='Github link' class='w-12 h-auto' />
        </a>
        <a href='https://www.linkedin.com/in/ugur-armagan/'>
          <img src='linkedin.png' alt='LinkedIn link' class='w-12 h-auto' />
        </a>
        <a href='https://twitter.com/UgurArma'>
          <img src='twitter.png' alt='Twitter link' class='w-12 h-auto' />
        </a>
      </div>
    </div>
  </body>
</html>
